Assignment 1.

1. Seq2Seq models in HuggingFace

Pegasus (Google): Specifically pre-trained for abstractive summarization. Its pre-training objective involves masking entire sentences and trying to generate them (Gap Sentence Generation), which closely mimics summarizing a text.

MarianMT: A collection of thousands of smaller, efficient models trained on the Opus corpus. These are the gold standard for Translation if you want a lightweight model for a specific language pair (e.g., Helsinki-NLP/opus-mt-en-fr).

LED (Longformer Encoder-Decoder): A variant of BART designed for long documents. It uses sparse attention to handle inputs up to 16k tokens (standard BERT/BART are limited to 512 or 1024), making it ideal for summarizing legal contracts or scientific papers.

T5 (Text-to-Text Transfer Transformer) Developed by Google, T5 is defined by its unified "text-to-text" framework where every NLP task—whether translation, classification, or summarization—is cast as a text generation problem. It is pre-trained on the massive C4 dataset using a "span corruption" objective, where the model learns to predict missing chunks of text masked out of a sentence. This architecture allows a single model to handle diverse tasks simply by changing the input prefix (e.g., prepending "summarize: " or "translate English to German: "), making it highly versatile, though it relies heavily on correct formatting to trigger the intended task.

BART (Bidirectional and Auto-Regressive Transformers) BART, developed by Meta AI, effectively combines the bidirectional understanding of a BERT-like encoder with the generative capabilities of a GPT-like decoder. It operates as a "denoising autoencoder," meaning it is pre-trained by corrupting text—specifically by masking tokens and shuffling the order of sentences—and forcing the model to reconstruct the original, clean sequence. This unique training process makes BART exceptionally strong at tasks that require understanding full context and reorganizing information, establishing it as a standard choice for abstractive summarization and paraphrasing.

2. T5 introduced a unified "text-to-text" framework. It treats every NLP problem—whether it is translation, classification, or regression—as a text generation task. This is achieved through a span corruption objective, where the model is presented with a sentence containing masked spans (replaced by sentinel tokens like <extra_id_0>) and must generate the missing text. T5 also utilizes relative positional embeddings, allowing it to generalize better to sequence lengths unseen during training.

mT5 shares an identical architecture with T5 but scales the model to handle a vastly larger vocabulary (250,000 tokens compared to T5’s 32,000) to accommodate 101 languages. However, a critical architectural distinction in their training is that while the original T5 mixed supervised tasks (like SQuAD or GLUE) into its pre-training, mT5 was trained strictly on unlabeled data. Consequently, mT5 lacks the "zero-shot" capabilities of T5 and almost always requires fine-tuning.

BART, developed by Meta AI, takes a different approach, effectively acting as a "denoising autoencoder." Its architecture can be visualized as a standard BERT encoder (bidirectional) coupled with a GPT decoder (autoregressive). Unlike T5’s specific span corruption, BART’s pre-training involves more aggressive noise functions, including sentence permutation (shuffling the order of sentences) and text infilling. This specific "shuffling" objective teaches BART to reconstruct logical flow and coherence, arguably making it structurally superior for tasks that require reordering information, such as summarization.

In [1]:
#import libraries
import pandas as pd
from datasets import Dataset, DatasetDict
from transformers import AutoTokenizer

In [5]:
#Loading Dataset
df = pd.read_csv(r"C:\Users\USER\Desktop\Data Science\DeepTech\Text_Summarization\validation.csv")
print(df.shape)

(13368, 3)

In [6]:
print(df.head(10))

                                         id  \
0  61df4979ac5fcc2b71be46ed6fe5a46ce7f071c3
1  21c0bd69b7e7df285c3d1b1cf56d4da925980a68
2  56f340189cd128194b2e7cb8c26bb900e3a848b4
3  00a665151b89a53e5a08a389df8334f4106494c2
4  9f6fbd3c497c4d28879bebebea220884f03eb41a
5  ce7460d21ce2336a0a8ee5812edd8b785b71811f
6  b5febe3ebb819b1743b6718288b2d93a41193c4f
7  4a039636bd3f339eceb4f46312d1b2daa4fa3cf0
8  7bd8693d22bab10ae7ee5422831d16baa251c8fa
9  6fec76621340051518f7acb6280873c3c857eba5

                                             article  \
0  Sally Forrest, an actress-dancer who graced th...
1  A middle-school teacher in China has inked hun...
2  A man convicted of killing the father and sist...
3  Avid rugby fan Prince Harry could barely watch...
4  A Triple M Radio producer has been inundated w...
5  The team with the lowest transfer outlay this ...
6  A team from a Spanish university . has discove...
7  A doctor who made a stand against sexism in me...
8  Ronda Rousey recorded the fastest-ever finish ...
9  Celtic defender Virgil van Dijk admits he fear...

                                          highlights
0  Sally Forrest, an actress-dancer who graced th...
1  Works include pictures of Presidential Palace ...
2  Iftekhar Murtaza, 29, was convicted a year ago...
3  Prince Harry in attendance for England's crunc...
4  Nick Slater's colleagues uploaded a picture to...
5  Stoke City beat Everton 2-0 to move up to eigh...
6  Woman was an aristocrat from Elephantine, coun...
7  Dr Ashleigh Witt, from Melbourne, wrote essay ...
8  Ronda Rousey submitted Cat Zingano via armbar ...
9  Celtic defeated Dundee United 2-0 in Scottish ...

In [9]:
# Convert to Hugging Face Dataset object
from datasets import load_dataset
dataset = load_dataset("csv", data_files=r"C:\Users\USER\Desktop\Data Science\DeepTech\Text_Summarization\validation.csv")

Generating train split: 0 examples [00:00, ? examples/s]

In [12]:
# Create T5-compatible columns
df["input_text"] = "summarize: " + df["article"].astype(str)
df["target_text"] = df["highlights"].astype(str)
df.head()

,id,article,highlights,input_text,target_text
0,61df4979ac5fcc2b71be46ed6fe5a46ce7f071c3,"Sally Forrest, an actress-dancer who graced th...","Sally Forrest, an actress-dancer who graced th...","summarize: Sally Forrest, an actress-dancer wh...","Sally Forrest, an actress-dancer who graced th..."
1,21c0bd69b7e7df285c3d1b1cf56d4da925980a68,A middle-school teacher in China has inked hun...,Works include pictures of Presidential Palace ...,summarize: A middle-school teacher in China ha...,Works include pictures of Presidential Palace ...
2,56f340189cd128194b2e7cb8c26bb900e3a848b4,A man convicted of killing the father and sist...,"Iftekhar Murtaza, 29, was convicted a year ago...",summarize: A man convicted of killing the fath...,"Iftekhar Murtaza, 29, was convicted a year ago..."
3,00a665151b89a53e5a08a389df8334f4106494c2,Avid rugby fan Prince Harry could barely watch...,Prince Harry in attendance for England's crunc...,summarize: Avid rugby fan Prince Harry could b...,Prince Harry in attendance for England's crunc...
4,9f6fbd3c497c4d28879bebebea220884f03eb41a,A Triple M Radio producer has been inundated w...,Nick Slater's colleagues uploaded a picture to...,summarize: A Triple M Radio producer has been ...,Nick Slater's colleagues uploaded a picture to...

In [14]:
# Final T5 dataset
summ_dataset = df[["input_text", "target_text"]]
summ_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13368 entries, 0 to 13367
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   input_text   13368 non-null  object
 1   target_text  13368 non-null  object
dtypes: object(2)
memory usage: 209.0+ KB

In [15]:
# Save the prepared dataset
summ_dataset.to_csv("t5_summarization_dataset.csv", index=False)